body
{
    margin: 0;
}

.prompt-bar-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: auto;
    padding: 0 10px;
    border-radius: 25px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.322);
    cursor: text;
    column-gap: 10px;
}

.prompt-added-file
{
    display: flex;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    width: fit-content;
    cursor: pointer;

}

.prompt-added-file:hover
{
    background-color: rgba(0, 47, 255, 0.13);

}

.added-file-icon
{
    height: 40px;
}

.file-name-text, .document-text
{
    margin: 0;
    
}

.file-name-text
{
    margin-bottom: 5px;
}


.prompt-bar-main
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 750px;
}

.prompt-file-icon
{
    height: 20px;
}

.prompt-send-icon
{
    height: 25px;
    
}

.prompt-file-button, .prompt-send-button
{
    width: 40px;
    height:40px;
    background-color: transparent;
    border:none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.prompt-file-button:hover, .prompt-send-button:hover
{
    background-color: rgba(250, 250, 250);
    border-radius: 20px;

}

.prompt-textarea
{

    height: auto;
    width: 100%;
    line-height: 25px;
    max-height: 300px;
    font-size: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    padding-top: 20px;
    box-sizing: border-box;
    resize: none; /* disable the little drag thing  */
    overflow-y: auto; /* show a vertical scrollbar when needed */
    outline: none;
    margin-left: 10px;
}